extern/boost/boost
extern/boost/lib
extern/cml/cml
extern/cml/doc
extern/directx/include
extern/directx/lib
extern/glew
extern/opengl/gl
exec/*.bsc
exec/*.dll
exec/*.exe
exec/*.ilk
exec/*.DPbcd
exec/*.dpcov
exec/*.dpmrg
exec/*.DPSup
exec/*.NLB
exec/*.pdb
exec/*.PIXRun
*.filters
*.lnk
*.ncb
*.opensdf
*.sdf
*.suo
*.user

