extern/boost/boost
extern/boost/lib
extern/cml/cml
extern/cml/doc
extern/directx/include
extern/directx/lib
extern/glew
extern/opengl/gl
exec/*.dll
exec/*.exe
exec/*.ilk
exec/*.pdb
*.user
*.ncb
*.suo

